name: Build CUDA on Linux
on:
  workflow_dispatch:
jobs:

  linux-cuda:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          docker-images: true
      - name: Setup project dir
        run: |
          git submodule update --init
          curl -o ./ggml-silero-v5.1.2.bin https://huggingface.co/snakers4/silero-vad/resolve/main/ggml-silero-v5.1.2.bin
          mv ./ggml-silero-v5.1.2.bin ./src/main/resources
          curl -o ./ggml-tiny.bin https://huggingface.co/ggerganov/whisper.cpp/resolve/main/ggml-tiny.bin
      - name: Install CUDA
        run: |
          wget https://developer.download.nvidia.com/compute/cuda/12.4.0/local_installers/cuda_12.4.0_550.54.14_linux.run
          sudo sh cuda_12.4.0_550.54.14_linux.run --silent --toolkit --override
          echo "CUDA_PATH=/usr/local/cuda-12.4" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/usr/local/cuda-12.4/lib64" >> $GITHUB_ENV
          echo "PATH=$PATH:/usr/local/cuda-12.4/bin" >> $GITHUB_ENV
          echo "CUDACXX=/usr/local/cuda-12.4/bin/nvcc" >> $GITHUB_ENV
      - name: Build Linux CUDA
        shell: bash
        run: |
          chmod +x ./build_cuda.sh
          ./build_cuda.sh
      - name: Upload native library
        uses: actions/upload-artifact@v4
        with:
          name: native-linux-cuda
          path: whisperjni-build/*
