name: Build CUDA
on:
  workflow_dispatch:
jobs:
  build-cuda:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            prefix: linux
          - platform: windows-latest
            prefix: windows
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup project dir
        run: |
          git submodule update --init
          curl -o ./ggml-silero-v5.1.2.bin https://huggingface.co/snakers4/silero-vad/resolve/main/ggml-silero-v5.1.2.bin
          mv ./ggml-silero-v5.1.2.bin ./src/main/resources
          curl -o ./ggml-tiny.bin https://huggingface.co/ggerganov/whisper.cpp/resolve/main/ggml-tiny.bin
      - uses: Jimver/cuda-toolkit@v0.2.29
        id: cuda-toolkit
        with:
          cuda: 12.4.0
          linux-local-args: '["--toolkit"]'
      - name: Build Linux CUDA
        if: matrix.prefix == 'linux'
        run: |
          ./build_cuda.sh
      - name: Build Windows CUDA
        if: matrix.prefix == 'windows'
        shell: powershell
        run: |
          & "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          ./build_cuda.ps1
      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.prefix }}-x64-cuda-natives
          path: whisperjni-build/*
      - name: Analyze DLL dependencies
        continue-on-error: true
        if: matrix.prefix == 'windows'
        run: |
          cd whisperjni-build
          & "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          Get-ChildItem -Recurse -Filter "*.dll" | ForEach-Object {
            Write-Host "dll: $($_.Name)"
            dumpbin /dependents "$($_.FullName)"
            Write-Host "----------------------------------------------------"
          }
        shell: powershell
      - name: Test
        run: ./gradlew test
      - name: Publish test report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/**/*.xml'