name: Build CUDA
on:
  workflow_dispatch:
jobs:
  windows-cuda:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup project dir
        run: |
          git submodule update --init
          curl -o ./ggml-silero-v5.1.2.bin https://huggingface.co/snakers4/silero-vad/resolve/main/ggml-silero-v5.1.2.bin
          mv ./ggml-silero-v5.1.2.bin ./src/main/resources
          curl -o ./ggml-tiny.bin https://huggingface.co/ggerganov/whisper.cpp/resolve/main/ggml-tiny.bin
      - uses: Jimver/cuda-toolkit@v0.2.29
        id: cuda-toolkit-windows
        with:
          cuda: 12.4.0
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
      - run: nvcc --version
      - name: Build Windows CUDA
        shell: powershell
        run: |
          & "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          ./build_cuda.ps1
      - name: Copy CUDA DLL to build directory
        # copy cudart64_12.dll cublas64_12.dll cublasLt64_12.dll
        run: |
          Copy-Item -Path "$env:CUDA_PATH\bin\cudart64_12.dll" -Destination "whisperjni-build/"
          Copy-Item -Path "$env:CUDA_PATH\bin\cublas64_12.dll" -Destination "whisperjni-build/"
          Copy-Item -Path "$env:CUDA_PATH\bin\cublasLt64_12.dll" -Destination "whisperjni-build/"
#      - name: Upload build directory (Debug Only)
#        uses: actions/upload-artifact@v4
#        with:
#          name: windows-cuda-debug-build
#          path: build
      - name: Upload natives
        uses: actions/upload-artifact@v4
        with:
          name: windows-x64-cuda-natives
          path: whisperjni-build/*
      - name: Analyze DLL dependencies
        continue-on-error: true
        run: |
          ls whisperjni-build
          # Find Visual Studio installation path using vswhere
          $vsInstallPath = & "${env:ProgramFiles(x86)}/Microsoft Visual Studio/Installer/vswhere.exe" -latest -property installationPath
          
          # Construct the path to dumpbin.exe directly
          $dumpbinPath = Join-Path -Path $vsInstallPath -ChildPath "VC/Tools/MSVC/*/bin/Hostx64/x64/dumpbin.exe"
          $resolvedDumpbin = Resolve-Path -Path $dumpbinPath | Select-Object -First 1
          
          if ($resolvedDumpbin) {
            Write-Host "Found dumpbin at: $resolvedDumpbin"
            cd whisperjni-build
          
            Get-ChildItem -Recurse -Filter "*.dll" | ForEach-Object {
              Write-Host "dll: $($_.Name)"
              & "$resolvedDumpbin" /dependents "$($_.FullName)"
              Write-Host "----------------------------------------------------"
            }
          } else {
            Write-Host "Warning: dumpbin.exe not found!"
            # Fallback to listing files without analysis
            cd whisperjni-build
            Get-ChildItem -Recurse -Filter "*.dll" | ForEach-Object {
              Write-Host "dll: $($_.Name) - Path: $($_.FullName)"
              Write-Host "----------------------------------------------------"
            }
          }
        shell: powershell
#      - name: Test
#        run: ./gradlew test
#      - name: Publish test report
#        uses: mikepenz/action-junit-report@v5
#        if: success() || failure()
#        with:
#          report_paths: '**/build/test-results/**/*.xml'